<ul class="nav">
    <li class="nav-item"><a class="nav-link" routerLink="home" style="font-family:'Times New Roman', Times, serif;font-size: larger;">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="rolex"style="font-family:'Times New Roman', Times, serif;font-size: larger;">Rolex</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="watchf"style="font-family:'Times New Roman', Times, serif;font-size: larger;">Watch-Finder</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="repair"style="font-family:'Times New Roman', Times, serif;font-size: larger;">Repair&Service</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="accessories"style="font-family:'Times New Roman', Times, serif;font-size: larger;">Accessories</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="guide"style="font-family:'Times New Roman', Times, serif;font-size: larger;">Watch-Guide</a></li>

    <imput type="text" placeholder="search" name="search" [(ngModel)]="searchitem" (keyup.enter)="search()"></imput>
    

</ul>

