#a {
    width: 95%;
    padding-left: 2cm;
}
#b {
    width: 90%;
    padding-left: 2cm;
}
#c{
    width: 90%;
    padding-left: 2cm;
}
#d{
    width: 90%;
    padding-left: 2cm;
}
#e {
    width: 95%;
    padding-left: 2cm;
}
#f {
    width: 100%;
    padding-left: 2cm;
}
#g{
    width: 90%;
    padding-left: 2cm;
}
#h{
    width: 90%;
    padding-left: 2cm;
}
#i {
    width: 95%;
    padding-left: 2cm;
}
#j {
    width: 100%;
    padding-left: 2cm;
}
#k{
    width: 90%;
    padding-left: 2cm;
}
#l{
    width: 90%;
    padding-left: 2cm;
}
#m {
    width: 95%;
    padding-left: 2cm;
}
#n {
    width: 100%;
    padding-left: 2cm;
}
#o{
    width: 90%;
    padding-left: 2cm;
}
#p{
    width: 90%;
    padding-left: 2cm;
}
button{
    margin-left: 150px;
}