<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="background-color: black;color:white;text-align:center;font-family: 'Times New Roman', Times, serif;">LUXURY WATCHES</h1>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 134701.png" id="a">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 135102.png" id="b">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 135252.png" id="c">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 140007.png" id="d">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 140818.png" id="e">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 141114.png" id="f">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 141136.png" id="g">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 141200.png" id="h">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 141751.png" id="i">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 141810.png" id="j">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 141827.png" id="k">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 141842.png" id="l">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 142856.png" id="m">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 142915.png" id="n">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 143029.png" id="o">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-3">
            <img src="/assets/Screenshot 2022-07-15 143046.png" id="p">
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>

    </div>

</div>
