<div class="container-fluid">
    <div class="row" id="a">
        <img src="/assets/accessories banner.png">
    </div>
    <br>
    <div class="row" style="background-color:black;">
        <p style="text-align:center;font-family: 'Times New Roman', Times, serif;color: white;font-size: xx-large;">SMART WATCH ACCESSORIES</p>
    </div>
    <div class="row" id="b">
        <div class="col-sm-4">
            <img src="/assets/mag safe charger.png">
            <p style="font-size:large;text-align: center;">Mag safe duo- charger<br>Rs.13,900</p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/iwatch nike.png" alt="">
            <p style="font-size:large;text-align: center;">44mm Anthracite/Black Nike Sport band<br>Rs.3510</p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/i watch 2.png" alt="">
            <p style="font-size:large;text-align: center;">38mm Space Black Link Bracelet<br>Rs.35,910</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/galaxy watch 1.png" style="padding-left: 2cm;">
            <p style="text-align:center;font-size:large;">Galaxy watch 46mm metel one band<br>Rs.3031</p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/galaxy watch 2.png" alt="" style="padding:0.5cm;">
            <p style="text-align:center;font-size:large;">Galaxy  Watch 4 44mm Air Black+ bezel Styling<br>Rs.1275</p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/galxy watch.png" alt="">
            <p style="text-align:center;font-size:large;">Galaxy Watch 4 Screen Protector<br>Rs.1515</p> 
        </div>
    </div>
    
        
</div>
<div class="container-fluid">
    <div class="row" style="background-color: black;">
        <div class="col-sm-6">
            <p style="text-align: center;font-family:'Times New Roman', Times, serif;color:grey;">
                <i>For order-contact</i><br>+91 9791192178</p>
        </div>
        <div class="col-sm-6">
            <p style="text-align: center;font-family:'Times New Roman', Times, serif;color:grey;">
                <i>Luxury watch service contact</i><br>+91 9176680782</p>
        </div>
    </div>
</div>

