<img src="/assets/corners-homepage-banner-xs_datejust-36_det_rolesor-32199_isov2_300_rvb.jpg" id="a"><br><br>
<h3 style="text-align:center;font-family: 'Times New Roman', Times, serif;font-weight:bold;"><i>Experience a Rolex</i></h3><br>
<h1 style="text-align:center;font-family: 'Times New Roman', Times, serif;font-weight: bolder;">ROLEX WATCHES</h1><br>
 <h5 style="text-align:center;font-family: 'Times New Roman', Times, serif;"><i>Rolex watches are crafted from the finest raw materials and assembled with<br>
     scrupulous attention to detail. Every component is designed, developed and produced<br>
      to the most exacting standards.</i></h5><br>
<div class="container-fluid" id="a1" style="margin: 0;">
    
        <div style="margin:0;">
            <ul id="b1">
                <li *ngFor="let product of rolexlist" id="b1">
                    <img [src]="product.img_path" id="b2" alt="gfdgdsthdb">
            <button class="btn btn-danger" id="btn3" (click)="addtowishlist(product)">add to wishlist</button>
                </li>
            </ul>   
    </div>
    <h6 style="padding-left:6cm;">Featured Sections</h6>
<img src="/assets/Screenshot 2022-07-14 193210.png" id="n">
<br>
<br>
<img src="/assets/Screenshot 2022-07-14 203823.png" id="o">
<br>
<br>
<img src="/assets/Screenshot 2022-07-15 094904.png" id="p">
     <div class="row" id="q">
        <div class="col-sm-4" id="r">
            <p style="font-family:'Times New Roman', Times, serif;"><i>For order-contact</i><br>+91 9791192178</p>
        </div>
        <div class="col-sm-4" id="s">
            <p style="font-family:'Times New Roman', Times, serif;"><i>Luxury watch service contact</i><br>+91 9176680782</p>

        </div>
        <div class="col-sm-4" id="t">
            <p style="font-family:'Times New Roman', Times, serif;"><i>Helpine</i><br>+91 6379191213</p>
        </div>
     </div>
     
</div>








