<div class="container-fluid">
    <div class="slider" id="slider">
        <figure>
            <a href="" target=""><img src="/assets/home banner a1.png"></a>
            
        </figure>
        <figure>
            <a href="" target=""><img src="/assets/home banner a2.jpg" id="b"></a>
            
        </figure>
        <figure>
            <a href="" target=""><img src="/assets/home banner a3.png" id="c"></a>
           
        </figure>
        <figure>
            <a href="" target=""><img src="/assets/home banner a4.png"></a>
           
        </figure>
        <figure>
            <a href="" target=""><img src="/assets/home banner a5.jpg"></a>
            
        </figure>
    
    
    </div>
    <div class="row">
        <img src="/assets/iw banner1.webp.crdownload" id="z">
       
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/iw seris 7.png" id="x">
            <p style="padding-left: 2.5cm;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: x-large;">Apple Watch Series 7</p>
            <p style="padding-left:4cm;font-weight:bolder;">Rs.60,999</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/iw se.png" id="y">
            <p style="padding-left: 3.5cm;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: x-large;">Apple Watch SE</p>
            <p style="padding-left:4.5cm;font-weight:bolder;">Rs.60,999</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/iw aeries 3.png" id="m">
            <p style="padding-left: 2.5cm;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: x-large;">Apple Watch Series 3</p>
            <p style="padding-left:4cm;font-weight:bolder;">Rs.23,899</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
    </div>
    <br>
    <br>
    
</div>
<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm-12">
            <img src="/assets/Fossil-Watch-Banner.webp" id="q">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/fossil 1.png" id="r">
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">FOSSIL</p>
            <p style="padding-left: 3.5cm;font-size:medium;">
                Men | Black Stainless Steel</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.13,495</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/fossil 2.png" id="s" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">FOSSIL</p>
            <p style="padding-left: 3.5cm;font-size:medium;">
                Men | Brown Leather</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.11,995</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/fossil women.png" id="t" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">FOSSIL</p>
            <p style="padding-left: 3cm;font-size:medium;">
                Women | Rose Gold Stainless Steel</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.9,495</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <img src="/assets/ft banner.webp" id="u">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/ft 1.png" id="v">
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">FOSSIL</p>
            <p style="padding-left: 3.5cm;font-size:medium;">
                Men | Black Stainless Steel</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.13,495</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/ft 2.png" id="w" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">FOSSIL</p>
            <p style="padding-left: 3.5cm;font-size:medium;">
                Men | Brown Leather</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.11,995</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/ft women.png" id="a1" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">FOSSIL</p>
            <p style="padding-left: 3cm;font-size:medium;">
                Women | Rose Gold Stainless Steel</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.9,495</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <img src="/assets/a tt banner.jpg" id="a2">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/a tt 1.png" id="a3">
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">TITAN</p>
            <p style="padding-left: 3.5cm;font-size:medium;">
                Men | Titan smartwatch</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.7,495</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/a tt 2.png" id="a4" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">TITAN</p>
            <p style="padding-left: 3.5cm;font-size:medium;">
                Men | Brown leather watch</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.11,995</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/a tt 3.png" id="a5" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">TITAN</p>
            <p style="padding-left: 3cm;font-size:medium;">
                Women | Rose Gold Stainless Steel</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.9,495</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/assets/g shock banner 2.jpeg" style="width:99%;height:10cm;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/gshock 1.png" id="n">
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">G-Shock</p>
            <p style="padding-left: 3cm;font-size:medium;">
                G740 GA-710GB-1ADR GSHOCK</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.11,595</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/gshock 2.png" id="o" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">G-Shock</p>
            <p style="padding-left: 3cm;font-size:medium;">
                G700 GA-110HR-1ADR GSHOCK</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.10,995</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
        </div>
        <div class="col-sm-4">
            <img src="/assets/gshock 3.png" id="p" >
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">G-Shock</p>
            <p style="padding-left: 3cm;font-size:medium;">
                G739 GA-710-1A2DR GSHOCK</p>
            <p style="padding-left:4.5cm;font-size: x-large;font-weight: bolder;">Rs.10,995</p>
            <button class="btn btn-danger" id="btn3">add to wishlist</button>
            <button >Riyasz</button>
        </div>
    </div>


    <div class="row" id="b1">
        <div class="col-sm-4" id="b2">
            <p style="font-family:'Times New Roman', Times, serif;"><i>For order-contact</i><br>+91 9791192178</p>
        </div>
        <div class="col-sm-4" id="b3">
            <p style="font-family:'Times New Roman', Times, serif;"><i>Luxury watch service contact</i><br>+91 9176680782</p>

        </div>
        <div class="col-sm-4" id="b4">
            <p style="font-family:'Times New Roman', Times, serif;"><i>Helpine</i><br>+91 6379191213</p>
        </div>
     </div>
    
</div>
